/*
 Theme Name:   Envo Blog Child
 Description:  Envo Blog Child Theme
 Author:       Florian BRETON
 Template:     envo-blog
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Text Domain:  envo-blog-child
*/

.site-title a
{
	font-family: 'Merriweather', serif;
	font-weight: bold;
	text-transform: none!important;
	letter-spacing: 5px!important;
	font-size: 80px!important;
}

.site-title a:hover
{
	text-decoration: none;
}